/* Resetting default styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Overall layout */
body {
    background-color: #a0d7d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
.header {
    background-color: rgb(124, 182, 201);
    width: 100vw;
    /* Covering full viewport width */
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

/* Main content container */
.container {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

h2,
p {
    text-align: center;
    color: #333;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Button styling */
button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

/* Link styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.register-link {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}