/* Resetting default styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Overall layout */
body {
    background-color: #a0d7d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
.login-header {
    background-color: #7ab2b7;
   width: 100vw;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.login-title {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

/* Main content container */
.login-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    margin-top: 20px;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-subtitle {
    margin-top:50px;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.login-description {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}

/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-input-group {
    margin-bottom: 15px;
}

.login-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

/* Button styling */
.login-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #333;
}

/* Status message styling */
.login-status {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

.login-status.success {
    color: green;
}

.login-status.error {
    color: red;
}

/* Link and prompt styling */
.login-register-prompt {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    color: #333;
}

.login-register-link {
    color: #007BFF;
    text-decoration: none;
}

.login-register-link:hover {
    text-decoration: underline;
}