/* Booknow.css */

.container {
    width: 80%;
    max-width: 1200px; /* Set maximum width for better responsiveness */
    margin: 0 auto;
    padding: 50px; /* Reduce padding for better spacing */
    background-color: #cde8e5; /* Adjusted background color */
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hero img {
    display: block; /* Added to ensure image alignment */
    margin: 0 auto; /* Center the image horizontally */
    width: 100vh;
    height: 100vh
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 50px 200px ;
  }
  
  .event {
    margin-top: 20px;
    background-color: #ffffff; /* Adjusted background color */
    padding: 20px;
    border-radius: 8px;
    width: 100vh;
    margin:50px 200px ;
  }
  
  .event h1 {
    font-size: 28px; /* Decreased font size for better readability */
    margin-top: 0; /* Removed negative margin */
    margin-bottom: 10px;
  }
  
  .event h4 {
    color: #666;
    margin-top: 0; /* Removed negative margin */
    margin-bottom: 5px;
  }
  
  .event p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer {
    margin-top: 20px;
  }
  
  .venue {
    display: flex;
    flex-direction: column;
    margin:50px 200px ;
  }
  
  .venue h2 {
    font-size: 20px;
    margin-bottom: 10px;
  
  }
  
  .information {
    display: flex;
    justify-content: space-between;
    
  }
  
  .information h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .Book {
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 20px; /* Adjusted margin for better spacing */
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 120px; /* Increased button width */
    height: 50px;
  }
  
  .Book:hover {
    background-color: #00baba;
  }
  