.header-container {
  margin-left: 80px; 
  width: 1400px; 
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #7AB2B2;
  position: fixed;
}

.home-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 800px;
}

.home-button:hover {
  background-color: #0056b3;
}


