/* Resetting default styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Overall layout */
body {
    background-color: #a0d7d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Page container */
.register-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header styling */
.register-header {
    background-color: rgb(124, 182, 201);
        width: 100vw;
        /* Covering full viewport width */
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
}

.register-title h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Center container */
.register-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Form container */
.register-form-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #666;
}

/* Form styling */
.register-form {
    display: flex;
    flex-direction: column;
}

.register-input-group {
    margin-bottom: 15px;
}

.register-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.register-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Button styling */
.register-button {
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.register-button:hover {
    background-color: grey;
}

/* Link and prompt styling */
.register-login-prompt {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.register-login-link {
    color: #007bff;
    text-decoration: none;
}

.register-login-link:hover {
    text-decoration: underline;
}